.menu-button-container {
    display: inline-block;
    cursor: pointer;
    margin-right: 1vw;
    margin-left: 1vw;
}
  
.bars {
    width: 1.7vw;
    height: 0.33vh;
    background-color: rgb(218, 218, 218);
    margin: 0.7vh 0;
    transition: 0.4s;
}

@media screen and (max-width: 1024px) {
    .bars {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        width: 4vw;
    }
}

@media screen and (max-width: 640px) {
    .bars {
        width: 6vw;
    }
}

@media screen and (max-width: 360px) {
    .bars {
        width: 6vw;
    }
}