.favorite-beer{
    border: 1px solid rgb(0,0,0);
    width: 60vw;
    height: 16vh;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.favbeer-image{
    height: 100%;
    border: 1px solid rgb(0,0,0);
    float: right;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.favbeer-tagline{
    margin-bottom: 1%;
}

.favbeer-description{
    margin-bottom: 1%;
}

.favbeer-button{
    text-transform: uppercase;
    cursor: pointer;
}
