.brewing {
    padding-bottom: 1vh;
}

.brewing-description {
    display: flex;
}

.ingredients {
    width: 24%;
    margin-right: 3.5%;
}

.method {
    width: 22%;
}

.brewing-tips {
    width: 40%;
    margin-bottom: 1%;
}

@media screen and (max-width: 1050px) {
    .brewing-description {
        flex-direction: column;
    }

    .brewing-tips {
        width: 100%;
    }

    .ingredients {
        width: 100%;
        margin-bottom: 3vh;
    }

    .method {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .ingredients {
        margin-right: 0;
    }
}
