.brewing{
    padding-bottom: 1vh;
}

.brewing-description{
    display: flex;
}

ul.ingredients{
    width: 24%;
    margin-right: 3.5%;
}

ul.method {
    width: 22%;
}

.brewing-tips{
    width: 40%;
    margin-bottom: 1%;
}