{
    "rules": {
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "no-compare-neg-zero": "warn",
        "no-duplicate-case": "warn",
        "no-empty": "warn",
        "no-empty-character-class": "warn",
        "no-extra-semi": "warn",
        "no-irregular-whitespace": "warn",
        "no-trailing-spaces": "warn",
        "quotes": [
            "warn",
            "single"
        ],
        "semi": [
            "warn",
            "always"
        ]
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.2.0"
        },
        "propWrapperFunctions": [ "forbidExtraProps" ]
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}