.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

.up-panel {
    position: fixed;
    top: 6.25%;
    left: 0;
    color: rgb(143, 182, 255);
    width: 8%;
    height: 93.75%;
    background-color: rgba(145, 233, 255, 0.3);
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}

.up-panel:hover {
    cursor: pointer;
    opacity: 1;
}

.up-panel-text {
    position: absolute;
    top: 1.5vh;
    left: 2.5vw;
    font-size: 1.85vh
}

.up-icon {
    position: absolute;
    top: 0.75vh;
    left: 0.5vw;
    height: 3.4vh;
}

@media screen and (max-width: 1050px) {
    .up-panel-text {
        font-size: 0;
    }
}
