.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

/* .search-input{
  width: 80%;
} */

.search-align{
  display: flex;
}

.search-icon{
    width: 20px;
    height: 20px;
}